{
	"parserOptions": {
		"ecmaVersion": 2022,
		"sourceType": "module"
	},
	"env": {
		"browser": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:prettier/recommended"
	],
	"ignorePatterns": [
		"public/web_modules/"
	]
}
