.FCT {
	position: absolute;
}

/**
	Floating Combat Text
	Used to display the numbers that happen in the game, like healing and damage.
	It'll pop in and then fade up and away
*/
floating-combat-text {
	--easing: cubic-bezier(0.23, 1, 0.32, 1);
	--duration: 2000ms;

	display: inline-block;
	pointer-events: none;
	user-select: none;
	/* border: 1px dotted #ccc; */

	position: absolute;
	top: 0;
	left: 0;

	font-size: 2.5rem;
	color: rgb(0, 161, 0);
	text-shadow: 0.1rem 0.1rem 0px rgb(0, 100, 0);

	animation-name: fct-up;
	animation-timing-function: linear;
	animation-duration: var(--duration);
	animation-fill-mode: both;
	transform-origin: center;
}

floating-combat-text.crit {
	top: 1rem;
	animation: fct-crit calc(1.5 * var(--duration)) var(--easing);
}

@keyframes fct-up {
	0% {
		transform: scale(1) translateY(0%);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translateY(-300%);
		opacity: 0;
	}
}

@keyframes fct-crit {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}

	5% {
		opacity: 1;
		transform: scale(1.1);
	}

	10% {
		transform: scale(1);
	}

	66% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.98);
	}
}
