.is-starting .Frame-bg {
	/* opacity: 0; */
	transition: all 2000ms var(--easing);
	width: 300px;
	/* transform: translate3d(0, -2rem, 0); */
}
.is-starting .Menu {
	opacity: 0;
	transition: all 1300ms;
	transform: scale(0.98);
	/* transform: translate3d(0, 2rem, 0); */
}

.Player {
	opacity: 0;
	transform: translate3d(0, 2rem, 0);
	transition: all 1200ms 60ms var(--easing);
}

.is-mounted .Player {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.PartyGroup {
	opacity: 0;
	transform: translate3d(0, 2rem, 0);
	transition: all 1200ms 120ms var(--easing);
}

.is-mounted .PartyGroup {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.Combatlog {
	/* transform: translate3d(50%, 0, 0); */
}

/* .is-ready~.Combatlog { */
/* 	transform: translate3d(83%, 0, 0); */
/* } */

.ActionBar {
	transform: translate3d(0, 2rem, 0);
	transition: all 1.2s 500ms var(--easing);
	opacity: 0;
}

.is-mounted .ActionBar {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

