*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.Frame {
	/* hidden from html with opacity */
	transition: opacity 2000ms ease-out;
}

.loaded .Frame {
	opacity: 1 !important;
}

.Frame-splash {
	position: fixed;
	left: 0;
	right: 0;
}

.IngameMenu {
	position: fixed;
	top: 1rem;
	left: 1rem;
	transition: opacity 500ms;
	opacity: 0;
}

.is-mounted .IngameMenu {
	opacity: 1;
}

.Frame-bg {
	display: block;
	margin: auto;
	width: 600px;
	height: auto;
	opacity: 0;
	margin-top: 5vh;
	margin-bottom: 4vh;
}
.loaded .Frame-bg {
	opacity: 1;
}

.Menu {
	position: fixed;
	top: 50vh;
	left: 0;
	right: 0;
	text-align: center;
}

.Menu nav {
	margin: 1rem 0;
}

#webhealer,
.Game {
	min-height: calc(100vh);
	outline: none;
}

.Game {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 7rem 1fr 7rem;
}

.Game-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-image: url(/assets/bg-hiro-isono.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	margin: 0;
}

.PartyGroup,
.Player {
	width: 100%;
	max-width: 20rem;
	margin-left: auto;
	margin-right: auto;
}

.PartyGroup {
	grid-row: 2;
	grid-column: 2/5;
	align-self: center;
	display: flex;
	flex-flow: column;
}

.Player {
	grid-row: 2;
	grid-column: 2/5;
	align-self: flex-end;
	margin-bottom: 4vh;
}

.ActionBar {
	grid-row: 3;
	grid-column: 1 / 6;
	display: inline-flex;
	gap: 5px;
	justify-content: center;
	margin-bottom: 1rem;
}

.Monitor {
	position: fixed;
	top: 0;
	right: 0;
	width: 7rem;
}

.Combatlog {
	grid-row: 1;
	grid-column: 3 / 6;
	margin-left: auto;
	width: 320px;
	height: 240px;
	position: fixed;
	right: 0;
	bottom: 8rem;
	padding: 1rem 0 1rem 1rem;
	transition: transform 600ms var(--easing);
}

.Combatlog:not(.sticky) {
	transform: translate3d(85%, 0, 0);
}

html.is-mounted .Combatlog:hover {
	transition-duration: 150ms;
	transform: translate3d(0rem, 0, 0);
	transition-delay: 0ms;
}

.FloatingCombatText {
	position: absolute;
}
