.Spell {
	--radius: 8px;
	position: relative;
	flex-basis: 7rem;
	border-radius: var(--radius);
	border: 2px outset hsl(0, 0%, 86%);
	border-right-color: hsl(0, 0%, 70%);
	border-bottom-color: hsl(0, 0%, 35%);
	border-left-color: hsl(0, 0%, 73%);
	/* background: hsl(120, 40%, 14%); */
	background: conic-gradient(hsl(60, 7%, 10%) 25%, hsl(20, 5%, 15%));
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 1px 4px hsla(0, 0%, 10%, 0.5);
	color: var(--white);
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 3px black, 0 0 3px black, 0 0 1px black,
		0 0 1px black;
}

.Spell:hover {
	background: hsl(120, 40%, 16%);
	background: linear-gradient(hsl(60, 7%, 13%) 25%, hsl(20, 5%, 20%));
	background: linear-gradient(hsl(170, 35%, 55%) 20%, hsl(170, 30%, 20%));
	background: conic-gradient(hsl(60, 7%, 15%) 25%, hsl(20, 5%, 20%));
}

.Spell:hover .Spell-gcd {
	border-color: var(--yellow);
}

.Spell:active .Spell-gcd {
	border-color: initial;
}

.Spell-inner {
	position: relative;
	z-index: 2;
}

.Spell-inner p {
	font-size: 12px;
}

.Spell-gcd {
	--color: rgba(200, 220, 270, 1);
	/* --progress: calc(35 / 100 * 360deg); */
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
	pointer-events: none;
	display: inline-block;
	border-radius: var(--radius);
	border: 2px groove hsla(0, 0%, 100%, 0.7);
}

.Spell-gcd::before {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	border: 1px solid hsla(0, 0%, 0%, 0.8);
	background: conic-gradient(
		hsla(0 0% 90% / 0.2) var(--progress),
		transparent var(--progress)
	);
}

.Spell-shortcut {
	position: absolute;
	top: 0.5em;
	left: 0.7em;
	opacity: 0.8;
	font-size: 10px;
}