@import url('styles/spell.css');
@import url('styles/bar.css');
@import url('styles/log.css');
/* @import url('sSplashtyles/fct.css'); */
@import url('styles/layout.css');
@import url('styles/layout-animations.css');

:root {
	--theme: hsl(120, 57.1%, 16%);
	--background: hsl(0deg 33% 13%);
	--yellow: hsl(41.8, 79.8%, 39%);
	--green: hsl(120.4, 89.6%, 30%);
	--blue: hsl(240.3, 98.9%, 35%);
	--gray: hsl(27deg 11% 84%);
	--easing: cubic-bezier(.165, .84, .4, 1);
}

html {
	background: var(--background) url(/assets/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	line-height: 1.5;
	/* color: whitesmoke; */
	/* font-synthesis: none; */
	/* text-rendering: optimizeLegibility; */
	/* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
	/* -webkit-text-size-adjust: 100%; */
}

body {
	margin: 0;
}

html,
button,
input {
	font-size: 16px;
	font-family: Proza Libre, serif;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
}

h1 {
	font-size: 2rem;
	line-height: 1.2;
	font-weight: 600;
}

header p {
	margin-left: 0.1em;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: 600;
}

h3 {
	font-size: 1rem;
	font-weight: 600;
}

a {
	color: var(--theme);
}

img {
	vertical-align: bottom;
}

/* Components */

.Effects {
	padding: 0;
	display: flex;
	min-height: 4rem;
}

.Effects>* {
	min-height: 4rem;
	flex-basis: 4rem;
	display: flex;
	place-content: center;
	place-items: center;
	background: var(--yellow);
}

.spin {
	display: inline-block;
	transform-origin: center;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


.Splash {
	position: fixed;
	top: 1rem;
	left: 1rem;
	/* margin: 1rem; */
}
